/* 이런 공통요소들이 위에 오지 않으면 캐스케이딩 순서에서 밀리기때문에 쓸수 없는 파일이 됨. */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
@import "reset.css";
@import "variables.css";

/* 이렇게 요소, 화면별로 나누고 main 파일에 import해서 두는게 편집하기도 좋고 가독성도 좋은것 같음. */
/* Components */
@import "components/status-bar.css";
@import "components/nav-bar.css";
@import "components/screen-header.css";
@import "components/user-component.css";
@import "components/badge.css";
@import "components/icon-row.css";

/* Screens */
@import "screens/login.css";
@import "screens/friends.css";
@import "screens/chats.css";
@import "screens/find.css";
@import "screens/more.css";

/* style.css에는 폰트같이 모든 스크린에 공통적용되는것만 작성 */

body {
    color: #2e363e;
    font-family: "Open Sans", sans-serif;
}

.main-screen {
    padding: 0px var(--horizontal-space);aaa
}
