.more-suggestions__icons {
    display: flex;
}

.more-suggestions__icon {
    text-align: center;
    padding-right: 15px;
}

.more-suggestions__icon-image {
    width: 60px;
    height: 60px;
    background-color: darkgoldenrod;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.more-suggestions__icon i {
    font-size: 30px;
    color: white;
}

.more-suggestions__icon span {
    color: rgba(0, 0, 0, 0.8);
    font-weight: 300;
}

.more-screen .icon-row {
    margin-top: 35px;
}

.more-suggestions {
    margin-top: 50px;
    border-top: var(--main-border);
    padding-top: 40px;
}

.more-suggestions__title {
    margin-bottom: 30px;
    font-size: 20px;
}
